
*.cache
*.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.CoreCompileInputs.cache
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
.vs/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.nuget.props
*.nuget.targets
*.[Cc]ache
bin/Debug/netcoreapp3.1/Sprint0.dll
.vs/Sprint0/v16/.suo
bin/Debug/netcoreapp3.1/Sprint0.dll
obj/Debug/netcoreapp3.1/Sprint0.assets.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Sprint0.dll
obj/Debug/netcoreapp3.1/Sprint0.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/Sprint0.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Sprint0.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Sprint0.csproj.nuget.dgspec.json
obj/Sprint0.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/Sprint0.assets.cache
obj/Debug/netcoreapp3.1/Sprint0.GeneratedMSBuildEditorConfig.editorconfig
