
*.cache
*.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint0.csproj.CoreCompileInputs.cache
